<!-- PARTE 1 Exercicios 1 2 3 -->

<!-- <navbar />
<main class="bg-danger container position-relative">
  <div class="row position-absolute top-50 start-50 translate-middle">
    <register-class-form class="col-6 d-flex flex-column align-items-center" />
    <img class="col-6 img-fluid" src="../assets/imgs/undraw_teaching_re_g7e3.svg" alt="" srcset="">
  </div>
</main>

<modal-send-form /> -->

<!-- PARTE 2 Exercicios 4 5 6  -->

<!-- <div class="container mt-3">
  <div class="row">
    <item-card class="col-3" *ngFor="let character of characters" [character]="character"/>
  </div>
</div> -->

<!-- PARTE 3 Exercicio 7 -->

<!-- <div class="container mt-3">
  <div class="row">
    <register-user-form class="col-6" />
  </div>
</div> -->

<!-- PARTE 4 : Exercicio 8 -->

<div class="container mt-3">
  <div class="row">
    <search-input (searchInput)="logInput($event)" class="col-6" />
  </div>
</div>
